html {font-size: 10px;
    font-family: "Open sans" sans-serif;
    background-color:#f1f1f1;
}

h1{ font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #4c8bf5;
    text-shadow: 3px 3px 1px black;
}

p, li{ font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;

}

body{ width: 600px;
    margin: 20px auto;
    background-color: #ffff;
    padding: 0px 20px 20px 20px;
    border: 0px solid black;
    box-shadow: -2px 2px 5px #757575;

}
img{display: block;
    margin: 0 auto;
}
